# Python
__pycache__/

# VSCode
.env
.vscode/

# Other
resultados/
FAPESP_NMT_*
vectors-*.txt
*.dix
error-ident-*.txt
*.output
*.detok

# Aligner
*.zip
Alinhador_de_Palavras/
Alinhador_de_Sentencas/
PorTAl-Aux/

# BLAST
*.blast